/* customclap */
.customClap {
  border: 1px solid red !important;
}

/* customtotal */
.customTotal {
  color: red !important;
}

/* customicon */
.customIcon {
  color: red !important;
}

/* customcount */
.customCount {
  color: red !important;
}
